
html, body, #root {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f6e868f; 
}

.container {
  background-color: #f0f0f0; 
  padding: 20px;
  border: 1px solid #ddd; 
  border-radius: 8px; 
  text-align: center; 
}


label {
  font-weight: 500;
  color: #333;
}


input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


button[type="submit"] {
  background-color: #62cfab;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #60f253;
}


.alert-warning {
  background-color: yellow;
  color: black;
}


.alert-success {
  background-color: green;
  color: white;
}
